<div class="panel-main-404">
    <div class="panel-main-p-not-found">
        <div class="panel-portada-page-not-found">
            <div class="panel-title-not-found">
                Pagina no encontrada
            </div>
            <img class="image-page-not-found" src="assets/img/page-not-found.svg" alt="pagina no encontrada de aplicativo">
        </div>
        <div class="text-page-not-found">
            Accesos y/o consultas llamar al Centro de Servicio - Service Desk.<br/>
            - Horario Atención: Lunes - Viernes 8:00 - 17:00<br/>
            - Teléfono: (+511) 4102525 Anexo: 13990<br/>
            - Correo: servicedesk@pj.gob.pe
        </div>
    </div>
</div>
