/*$color-pj-primary: #ad1457;
$color-pj-accent: #b63a70;
$color-pj-primary-50: rgb(173 20 87 / 50%);
*/
$color-pj-primary: #8b0000;
$color-pj-accent: #ae1717;
$color-pj-primary-50: rgb(147 13 13 / 50%);

$color-pj-input:#37474f;
$color-pj-input-accent:#546e7a;
$color-pj-input-50: rgb(55 71 79 / 50%);
/* background cards */
$color-pj-bg-card:#fafafa ;
/* default background light color */
$color-pj-bg-light:#ffffff;