<div class="page-body">
    <div class="page-header shadow-2 grid m-0">
        <div class="toolbar col-12 m-0 p-0">
            <div class="toolbar-content grid m-0">
                <div class="col-12 xl:col-6 p-0 flex  justify-content-between xl:justify-content-start align-items-center">
                    <div class="py-2 flex flex-wrap gap-1">
                        <!--<button pButton pRipple type="button" (click)="consultarPermisos()" icon="pi pi-refresh" iconPos="right"  class="btn-pj p-button-sm rounded-pj mr-2"></button>-->
                        <!--<button pButton pRipple type="button" label="Nuevo"  icon="pi pi-user-plus" iconPos="right" (click)="nuevoVictimaEventClick()"   class="btn-pj p-button-sm rounded-pj"></button>
                        <div class="p-inputgroup">
                            <input pinput type="text" pInputText placeholder="N° Documento" [(ngModel)]="filtroVictimas.documentoIdentidad" class="input-pj p-inputtext-sm input-rounded" />
                            <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn" (click)="listarVictimas()"></button>      
                        </div>-->
                        <div class="p-float-label mt-1">
                            <p-calendar [(ngModel)]="filtro.fechaDesde" yearRange="2000:2030" [autoZIndex]="true" [readonlyInput]="true"   appendTo="body"dateFormat="dd/mm/yy" [minDate]="fechaDesdeMin" [maxDate]="fechaHasta" [monthNavigator]="true" [yearNavigator]="true" inputStyleClass=" input-pj"  yearRange="2000:2030" inputId="fechaI" [style] ="{ width:'120px'}" [inputStyle] ="{ width:'120px'}" [showIcon]="false" (onSelect)="fechaDesdeSeleccionado($event)"></p-calendar>
                            <label for="txt-fecha-na">Desde</label>
                        </div>
                        <div class="p-float-label mt-1">
                            <p-calendar [(ngModel)]="filtro.fechaHasta" yearRange="2000:2030" [autoZIndex]="true" [readonlyInput]="true"   appendTo="body"dateFormat="dd/mm/yy" [minDate]="fechaDesde" [maxDate]="fechaHastaMax" [monthNavigator]="true" [yearNavigator]="true" inputStyleClass=" input-pj" yearRange="2000:2030" inputId="fechaF" [style] ="{ width:'120px'}" [inputStyle] ="{ width:'120px'}" [showIcon]="false"></p-calendar>
                            <label for="txt-fecha-na">Hasta</label>
                        </div>
                        <button type="button" pButton pRipple icon="pi pi-search" class="btn-pj p-button-sm rounded-pj" (click)="consultarPermisos()"></button>      
                    </div>
                    <div class="mx-1">
                        <button pButton pRipple type="button" icon="pi pi-sliders-h" class="btn-pj rounded-pj" (click)="panelFilter.toggle($event)"></button>
                    </div>
                    
                </div>
                
                <div class="col-12 xl:col-6 p-0 flex justify-content-center xl:justify-content-end">
                    <!--
                    <div class="paginator">
                        <p-paginator
                            [rows]="rows"
                            [totalRecords]="totalRecords"
                            [rowsPerPageOptions]="[10, 20, 30, 50]"
                            [pageLinkSize]="pageLinkSize"
                            [first]="first"
                            (onPageChange)="paginate($event)"
                            styleClass="p-1"
                        >
                        </p-paginator>
                    </div>
                    -->
                </div>
                
            </div>

        </div>
    </div>
    <div class="page-content">
        <div class="grid m-0">
            <div class="col-12" style="/*overflow: scroll;*/" >
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left" >
                        <h3>&nbsp;&nbsp;&nbsp; LISTA DE PERMISOS</h3>
                       <!--  <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
                    </ng-template>
                    <ng-template pTemplate="right">
                        <button pButton pRipple label="Ver Consumo" icon="pi pi-chart-line" class="p-button-info" *ngIf="!esServiceDesk" (click)="openConsumo()" [disabled]="!permisoSeleccionado"></button> 
                    </ng-template>
                </p-toolbar>            
                <p-table #dt [value]="permisos"  [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="permisoSeleccionado" [rowHover]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30]"
                styleClass="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem"></th>
                            <th class="colDerecha">Entidad</th>
                            <th class="colDerecha">Operación</th>
                            <th class="colDerecha">Cuota</th>
                            <th class="colDerecha">Fecha de Registro</th>
                            <th class="colDerecha">Estado</th>
                            <th></th>                        
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" #tdmas let-item>
                        <tr [pSelectableRow]="item">
                            <td>
                                <p-tableCheckbox [value]="item"></p-tableCheckbox>
                            </td>                        
                            <td class="colDerecha">{{ item.nombreEntidad }}</td>
                            <td class="colDerecha">{{ item.operacion }}</td>
                            <td class="colDerecha">{{ item.cuotaAsignada }}</td>
                            <td class="colDerecha">{{ item.fechaRegistro }}</td>
                            <td class="colDerecha">{{ item.activo }}</td>
                            <td>
                                <button pButton pRipple type="button" label="Ver Ips" class="p-button-sm btn-detalle" (click)="verIps(item)"></button>
                            </td>
                            <!-- [style]="{width: '210px', border: '2px solid rgba(147, 13, 13, 0.3)','z-index': '1',right:'0'}" -->
                            <!-- <td><i class="pi pi-user-edit" pTooltip="Caracteristicas: {{ item.caracteristicas }}" tooltipPosition="left"></i></td>
                            <td><i class="pi pi-user-minus" pTooltip="Señas particulares: {{ item.senasParticulares }}" tooltipPosition="left"></i></td> -->
                            <!-- <td>{{ item.caracteristicas }}</td>
                            <td>{{ item.senasParticulares }}</td> -->
                        </tr>
                        
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

    <p-overlayPanel #panelFilter [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'100ms'"  [dismissable]="true" [showCloseIcon]="true" [style]="{ border: '2px solid rgba(147, 13, 13, 0.3)',top: 'initial !important'}" styleClass="shadow-8 panel-filter">
        <ng-template pTemplate>
            <div class="panel-filter-content">
                <div class="grid">
                    <div class="col-12 pb-0">
                        <p-divider align="left" styleClass="mb-0 mt-2">
                            <div class="inline-flex align-items-center">
                                <i class="pi pi-filter mr-2"></i>
                                <b>Filtros</b>
                            </div>
                        </p-divider>
                    </div>
                </div>
                <div class="grid m-0">
                    <div class="p-float-label col-12 mt-1">
                        <p-autoComplete [(ngModel)]="entidadSeleccionada" [suggestions]="listaEntidades" (completeMethod)="cargarSugerenciasEntidad($event)" [maxlength]=80  field="razonSocial" inputStyleClass="p-inputtext-sm input-block" [style] ="{ width:'100%'}" [inputStyle] ="{ width:'100%'}" [dropdown]="false" [forceSelection]="true"></p-autoComplete>
                        <label for="filtro-entidad">Entidad</label>
                    </div>
                    <div class="dropdown-float-group col-12 mt-0 py-0">
                        <label class="label-float-dropdown">Operación</label>
                        <p-dropdown [options]="listaOperaciones" [(ngModel)]="filtro.idOperacion"  optionLabel="nombre" optionValue="idOperacion" [showClear]="true"  placeholder="Todas" styleClass="input-pj w-100 dropdown-float"></p-dropdown>
                    </div>
                    <div class="col-12">
                        <div class="p-field" style="margin-left: 4%;">
                            <br/><label for="dni">Fecha Solicitud</label>
                        </div>
                    </div>  
                    <div class="p-float-label col-12 mt-1">
                        <p-calendar  [(ngModel)]="filtro.fechaDesde" yearRange="2000:2030" [autoZIndex]="true" [readonlyInput]="true"   appendTo="body" dateFormat="dd/mm/yy" [minDate]="fechaDesdeMin" [maxDate]="fechaHasta" [monthNavigator]="true" [yearNavigator]="true" inputStyleClass="input-block p-inputtext input-pj" [style] ="{ width:'100%'}" [inputStyle] ="{ width:'100%'}" yearRange="2000:2030" inputId="fechaI" [showIcon]="true" (onSelect)="fechaDesdeSeleccionado($event)"></p-calendar>
                        <label for="txt-fecha-na">Desde</label>
                    </div>
                    <div class="p-float-label col-12 mt-1">
                        <p-calendar   [(ngModel)]="filtro.fechaHasta" yearRange="2000:2030" [autoZIndex]="true" [readonlyInput]="true"   appendTo="body" dateFormat="dd/mm/yy" [minDate]="fechaDesde" [maxDate]="fechaHastaMax" [monthNavigator]="true" [yearNavigator]="true" inputStyleClass="input-block p-inputtext input-pj" [style] ="{ width:'100%'}" [inputStyle] ="{ width:'100%'}" yearRange="2000:2030" inputId="fechaI" [showIcon]="true"></p-calendar>
                        <label for="txt-fecha-na">Hasta</label>
                    </div>
                    <div class="dropdown-float-group col-12 mt-0 py-0">
                        <label class="label-float-dropdown">Estado</label>
                        <p-dropdown [options]="estados"  [(ngModel)]="filtro.estado" [showClear]="true"  optionLabel="label" optionValue="value" placeholder="Seleccione" styleClass="input-pj w-100 dropdown-float"></p-dropdown>
                    </div>

                    <div class="col-12 flex justify-content-center">
                        <button pButton pRipple type="button" label="Buscar" icon="pi pi-search" iconPos="right"  class="p-button-sm p-btn-pj" (click)="consultarPermisos()"></button> 
                    </div>
                </div>
            </div>
        </ng-template>
    </p-overlayPanel>
</div>


<p-dialog [(visible)]="dialogConsumo" [style]="{width: '750px'}" header="Consumo del Permiso" [modal]="true" styleClass="dialog-primary" appendTo="body">
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="dropdown-float-group col-4 mt-0 py-0">
                <label class="label-float-dropdown">Año</label>
                <p-dropdown [options]="rangoAnios" [(ngModel)]="anioSeleccionado" (onChange)="verConsumo()"  optionLabel="label" optionValue="value" styleClass="input-pj w-100 dropdown-float"></p-dropdown>
            </div>
            <div class="dropdown-float-group col-4 mt-0 py-0">
                <label class="label-float-dropdown">Mes</label>
                <p-dropdown [options]="meses" [(ngModel)]="mesSeleccionado" (onChange)="verConsumo()"  optionLabel="label" optionValue="value" styleClass="input-pj w-100 dropdown-float"></p-dropdown>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">                                    
                <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
            </div>
        </div>     
    </ng-template>

    <ng-template pTemplate="footer">
        <div align="center">
            <button pButton pRipple label="Cerrar" icon="pi pi-times" class="btn-pj p-button-danger" (click)="hideConsumo()"></button>
        </div>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="dialogIps" [style]="{width: '450px'}" header="LISTA DE IPS" [modal]="true" styleClass="dialog-primary" appendTo="body">
    <ng-template pTemplate="content">
        <div>
            <p-table [value]="listaIps" styleClass="p-datatable-sm"  [paginator]="true" [rows]="5" dataKey="id" [scrollable]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Dirección IP</th>
                        <th>Estado</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ip>
                    <tr>
                        <td>{{ip.ipPublica}}</td>
                        <td>{{ip.activo}}</td>
                    </tr>
                </ng-template>
              </p-table>
        </div>
        <div class="card" style="margin-left: 1%;" align="left">
            <label style="color: red;">*Las Ips asignadas a una entidad aplican para todas sus operaciones</label>                      
        </div>  
<!--         <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
        </div>
        <div class="p-field">
            <label for="inventoryStatus">Inventory Status</label>
            <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>


        <div class="p-formgrid grid">
            <div class="p-field p-col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
            </div>
        </div> -->
    </ng-template>

    <ng-template pTemplate="footer">
        <div align="center">
            <button pButton pRipple label="Cerrar" icon="pi pi-times" class="btn-pj p-button-danger" (click)="hideIps()"></button>
        </div>       
    </ng-template>
</p-dialog>